# Super simple notebook test

In [8]:
import pandas as pd
import plotly.express as px
import numpy as np

import plotly.io as pio
pio.renderers.default = 'iframe'

Random generation of data...

In [9]:
df = pd.DataFrame(np.random.randint(0,500,size=(30, 3)), columns=list('ABC')) 
df.head(5)

     A    B    C
0  359  423  460
1  298  340  361
2  456  146  339
3  253  338  223
4  334  271   19

And a quick scatter plot

In [10]:
fig = px.scatter(df, x='A', y='B', size='C')
fig.show()